body, h1, h2, h3, h4, p, ul, ol[class], li, figure, figcaption, blockquote, dl, dd, html {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    font-family: 'Inika';
    font-style: normal;
    width: 1440px;
}
* {
    box-sizing: border-box;
}
.dFlex {
    display: flex;
}
header {
    width: 1440px;
    position: fixed;
    padding: 49px 108px 20px;
    background-color: #EDF2EC;
    justify-content: space-between;
}
.logoP {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.logoImg {
    width: 22px;
    height: 22px;
}
.navbar {
    margin-right: 9px;
    list-style-type: none;
}
.navA {
    margin-left: 48.4px;
    font-size: 16px;
    line-height: 54px;
    font-weight: 400;
    color: #010201;
    text-decoration: none;
    transition: 0.5s;
}
.navAFix {
    width: 71px;
    height: 54px;
}
.navA:hover {
    cursor: pointer;
    color: #E06733;
    transition: 0.3s;
}
.navbarActive {
    font-weight: 700;
    color: #E06733;
}
.welcome {
    width: 1440px;
    height: 666px;
    background-color: #EDF2EC;
    padding: 141px 100px 0;
}
.welcBlock {
    justify-content: space-between;
}
.welcImgblock {
    width: 449px;
    height: 407px;
}
.welcTextBlock {
    width: 567.5px;
    font-family: 'Inter';
}
.welcTextBlock h2 {
    margin-top: 59px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}
.welcTextBlock p {
    margin-top: 44px;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}
.btn {
    color: #E06733;
    border-radius: 5px;
    border: 1px solid #E06733;
    box-sizing: border-box;
    background: none;
    transition: 0.5s;
}
.btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #E06733;
    transition: 0.3s;
}
.btnWelc {
    margin-top: 47px;
    border-radius: 10px;
    border: 2px solid #E06733;
    color: #000;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 159px;
    height: 44px;
    padding: 11px 26px 13px 19px;
}
.about {
    width: 1440px;
    height: 666px;
    background-color: #fff;
    padding: 82px 109px 0;
    justify-content: space-between;
}
.aboutText {
    width: 605px;
}
.aboutText h2 {
    margin-top: 68px;
    width: 463px;
    font-weight: 400;
    line-height: 52px;
    font-size: 40px;
    color: #499A18;
}
.aboutText p {
    margin-top: 38px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
.aboutImg {
    width: 464px;
    height: 479px;
}
.service {
    padding: 35px 109px;
    width: 1440px;
    height: 1300px;
    background-color: #EDF2EC;
}
.serviceH {
    width: 306px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.serviceBtnBlock {
    margin-left: 140px;
    margin-top: 29px;
    width: 559px;
    height: 50px;
    justify-content: space-between;
}
.btnService {
    padding: 11px 12px 11px 10px;
    text-align: center;
    width: 161px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.serviceItemBlock {
    margin-top: 87px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.serviceItem {
    font-family: 'Inter';
    margin-bottom: 55px;
    width: 330px;
    height: 450px;
    /* box-sizing: border-box; */
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    overflow: hidden;
    text-align: center;
}
.sevItemImg {
    width: 330px;
    height: 350px;
}
.serviceItem h4 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}
.serviceItem p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}
.prices {
    padding: 40px 109px 10px;
    /* background-color: #99f; */
    height: 568px;
    font-family: 'Inter';
}
.priceTextBlock {
    justify-content: space-between;
}
.priceTextBlock h2 {
    margin-left: 0.5px;
    margin-top: 4px;
    font-size: 40px;
    line-height: 48px;
}
.priceTextBlock p {
    margin-top: -1px;
    letter-spacing: -0.15px;
    text-align: right;
    width: 455px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
